Repository fullstacksjs/you-dont-know-html: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

fix: fix last separator in review
  src/app/review/page.tsx
Due: cspell --no-must-find-files, eslint --fix

feat: improve question layout
  src/app/_components/layout.tsx
  src/app/quiz/_components/question/question-option.tsx
Due: cspell --no-must-find-files, eslint --fix

feat: improve code block padding and overflow
  src/app/globals.css
  src/app/review/_components/review-option.tsx
  src/lib/mdx/add-container.ts
Due: cspell --no-must-find-files, eslint --fix

fix: fix grammar errors
  src/questions/question-1/inquiry.mdx
  src/questions/question-10/inquiry.mdx
  src/questions/question-11/index.tsx
  src/questions/question-11/inquiry.mdx
  src/questions/question-12/inquiry.mdx
  src/questions/question-13/inquiry.mdx
  src/questions/question-14/inquiry.mdx
  src/questions/question-15/index.tsx
  src/questions/question-16/inquiry.mdx
  src/questions/question-2/inquiry.mdx
  src/questions/question-3/inquiry.mdx
  src/questions/question-5/index.tsx
  src/questions/question-6/inquiry.mdx
  src/questions/question-7/index.tsx
  src/questions/question-8/inquiry.mdx
  src/questions/question-9/inquiry.mdx
Due: cspell --no-must-find-files, eslint --fix

feat: add scroll to top after navigation
  src/app/globals.css
  src/app/quiz/_components/question/question.tsx
Due: cspell --no-must-find-files, eslint --fix

feat: add review links
  src/app/review/_components/review.tsx
Due: cspell --no-must-find-files, eslint --fix

docs: readme
  LINCENS
  README.md
Due: prettier --write, cspell --no-must-find-files

docs: change case
  README.md
Due: prettier --write, cspell --no-must-find-files

fix: fix question 9 answer
  src/app/summary/_components/share-button.tsx
  src/app/summary/page.tsx
  src/questions/question-9/index.tsx
Due: cspell --no-must-find-files, eslint --fix

move redirect logic out of server actions
  src/app/quiz/_actions/submit-answer.ts
  src/app/quiz/_components/question/question.tsx
Due: cspell --no-must-find-files, eslint --fix

feat: add invalid syntax option
  src/questions/question-1/index.tsx
  src/questions/question-10/index.tsx
  src/questions/question-11/index.tsx
  src/questions/question-12/index.tsx
  src/questions/question-13/index.tsx
  src/questions/question-14/index.tsx
  src/questions/question-15/index.tsx
  src/questions/question-16/index.tsx
  src/questions/question-2/index.ts
  src/questions/question-3/index.ts
  src/questions/question-4/index.tsx
  src/questions/question-5/index.tsx
  src/questions/question-6/index.tsx
  src/questions/question-7/index.tsx
  src/questions/question-8/index.tsx
  src/questions/question-9/index.tsx
  src/questions/shared-options.ts
Due: cspell --no-must-find-files, eslint --fix

feat: add share button
  cspell.json
  package.json
  pnpm-lock.yaml
  src/app/_components/guard.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/review/_components/review.tsx
  src/app/summary/_components/answers-provider.tsx
  src/app/summary/_components/confetti.tsx
  src/app/summary/_components/share-button.tsx
  src/app/summary/_components/skeleton.tsx
  src/app/summary/_components/summary-result.tsx
  src/app/summary/layout.tsx
  src/app/summary/page.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

feat: add loading state
  src/app/globals.css
  src/app/quiz/_components/question/question-option.tsx
  src/app/quiz/_components/question/question.tsx
Due: cspell --no-must-find-files, eslint --fix

feat: add ppr
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/review/loading.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

feat: add loading states
  src/app/quiz/[step]/loading.tsx
  src/app/review/loading.tsx
  src/app/summary/loading.tsx
Due: cspell --no-must-find-files, eslint --fix

feat: add posthog
  .env.example
  cspell.json
  next.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/layout.tsx
  src/app/quiz/_components/question/question.tsx
  src/lib/posthog/PostHogProvider.tsx
  src/lib/posthog/config.ts
  src/lib/posthog/createPostHogClient.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix: fix view transition regression
  src/app/quiz/[step]/loading.tsx
Due: cspell --no-must-find-files, eslint --fix

chore: fix next version
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix: fix build error
  src/lib/posthog/createPostHogClient.ts
Due: cspell --no-must-find-files, eslint --fix

feat: add percentile
  src/app/summary/_actions/getMyPercentile.ts
  src/app/summary/_components/summary-result.tsx
  src/lib/supabase/Database.ts
  src/lib/supabase/supabase.ts
  supabase/migrations/20250411215717_rank.sql
Due: cspell --no-must-find-files, eslint --fix

feat: add metadata
  cspell.json
  public/icons/192x192.png
  public/icons/512x512.png
  public/og.png
  src/app/favicon.ico
  src/app/icon.tsx
  src/app/layout.tsx
  src/app/manifest.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix: fix percentile
  src/app/summary/_actions/getMyPercentile.ts
Due: cspell --no-must-find-files, eslint --fix

fix: improve summary performance
  src/app/summary/_components/summary-result.tsx
  supabase/migrations/20250411234738_index.sql
Due: cspell --no-must-find-files, eslint --fix

feat: update quiz feedback messages for different score ranges (25%, 50%, 75%)
  src/app/summary/_components/summary-result.tsx
Due: cspell --no-must-find-files, eslint --fix

fix: fix typo
  src/app/summary/_components/summary-result.tsx
Due: cspell --no-must-find-files, eslint --fix

fix: disable ppr
  next.config.ts
Due: cspell --no-must-find-files, eslint --fix

add URL to README.md
  README.md
Due: prettier --write, cspell --no-must-find-files

chore: update dependencies
  cspell.json
  next.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/quiz/_components/question/question.tsx
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

feat: add correct_answers column
  supabase/migrations/20251209091950_add_correct_answers.sql
Due: none

update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix: fix question 10 and 9 explanation typo
  src/questions/question-10/explanation.mdx
  src/questions/question-9/explanation.mdx
Due: none

chore: update eslint plugin
  package.json
  pnpm-lock.yaml
  src/app/_components/button.tsx
  src/app/icon.tsx
  src/app/page.tsx
  src/app/quiz/_actions/submit-answer.ts
  src/app/quiz/_components/question/question-option.tsx
  src/app/quiz/_components/question/question.tsx
  src/app/review/loading.tsx
  src/app/summary/_actions/getMyPercentile.ts
  src/app/summary/_components/answers-provider.tsx
  src/app/summary/_components/confetti.tsx
  src/app/summary/_components/correct-answer-count.tsx
  src/app/summary/_components/share-button.tsx
  src/app/summary/loading.tsx
  src/lib/mdx/white-space.ts
  src/lib/posthog/PostHogProvider.tsx
  src/mdx-components.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/lib/posthog/PostHogProvider.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

chore: update dev dependencies
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix: revert typescript version
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

Path conditions:
  prettier --write: any of: *.{md,json,yml,yaml,html}
  cspell --no-must-find-files: (any of: *.{md,json,yml,yaml,html}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
